button{
    width: 100px;
    height: 30px;
    border-radius: 4px;
    margin-left: 2px;
}
.inputText{
    height: 24px;
    border-radius: 4px;
    padding-left: 20px;
}
.task{
    display: grid;
    grid-auto-rows: 30px;
    grid-template-columns: 2fr 1fr;
    margin: 5px;
    line-height: 30px;
}
.task > h5{
    margin: 0;
}
#root{
    width: 300px;
}